extends layout

block content
    h3= title
    
    //- Form lọc theo ngày
    div.well
        form.form-inline(method='GET', action='/order')
            div.form-group
                label(for='fromDate') Từ ngày:
                |  
                input.form-control(type='date', id='fromDate', name='fromDate', value=fromDate)
            |  
            div.form-group
                label(for='toDate') Đến ngày:
                |  
                input.form-control(type='date', id='toDate', name='toDate', value=toDate)
            |  
            button.btn.btn-primary(type='submit') Tìm kiếm
            |  
            a.btn.btn-default(href='/order') Làm mới
    
    if error
        div.alert.alert-danger= error
    
    if transactions && transactions.length > 0
        div.alert.alert-info
            strong Tổng số giao dịch: #{transactions.length}
            |  - 
            | Tổng tiền: 
            - var total = transactions.reduce((sum, t) => sum + parseInt(t.amount || 0), 0)
            strong= total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' VND'
        
        div.table-responsive
            table.table.table-striped.table-bordered.table-hover
                thead
                    tr.info
                        th STT
                        th Mã GD
                        th Số tiền
                        th Phương thức
                        th Ngày tạo
                        th Trạng thái
                        th Mã phản hồi
                        th Số GD VNPay
                tbody
                    each transaction, index in transactions
                        tr(class=transaction.status === 'Thành công' ? 'success' : transaction.status === 'Thất bại' ? 'danger' : 'warning')
                            td= index + 1
                            td 
                                strong= transaction.orderId
                            td.text-right= transaction.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' VND'
                            td= transaction.bankCode
                            td= transaction.createDate
                            td.text-center
                                if transaction.status === 'Thành công'
                                    span.label.label-success= transaction.status
                                else if transaction.status === 'Thất bại'
                                    span.label.label-danger= transaction.status
                                else
                                    span.label.label-warning= transaction.status
                            td.text-center= transaction.responseCode || 'N/A'
                            td= transaction.transactionNo || 'Chưa có'
    else
        div.alert.alert-info
            strong 
                i.glyphicon.glyphicon-info-sign
                |  Chưa có giao dịch nào!
            p Hãy tạo giao dịch mới để xem kết quả ở đây.
    
    p &nbsp;
    div.text-center
        a.btn.btn-primary.btn-lg(href='/order/create_payment_url') 
            i.glyphicon.glyphicon-plus
            |  Tạo giao dịch mới
